<div class="container">
	<h1>Listing Profiles</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Address</th>
				<th scope="col">City</th>
				<th scope="col">State</th>
				<th scope="col">Zip</th>
				<th scope="col">Is Agreed</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<% @profiles.each do |profile| %>
		<tbody>
			<tr>
				<td><%= profile.name %></td>
				<td><%= profile.email  %></td>
				<td><%= profile.address  %></td>
				<td><%= profile.city  %></td>
				<td><%= profile.state  %></td>
				<td><%= profile.zip  %></td>
				<td><%= profile.agreed  %></td>
				<td><%= link_to 'Delete', profile_path(profile),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>